 @theme "~/.local/share/rofi/themes/arc_dark_transparent_colors.rasi"
 /* Dark theme. */
@import "~/.cache/wal/colors-rofi-dark"

/* Light theme. */
// @import "~/.cache/wal/colors-rofi-light"
configuration {
 modi: "window,drun,ssh,combi";
 font: "Adwaita Mono 10";
 combi-modi: "window,drun,ssh";
}
